body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'PremierSans';
    src: url('fonts/Premier Sans.otf') format('opentype'),
         url('fonts/Premier Sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header{
    font-family: "Bebas Neue";
    text-align: center;
    background-color: #38003C; 
    margin-bottom: 0px;
    height: 20%;
  }

h1 {
    color: white;
    font-size: 100px;
    margin-bottom: 10px;
    margin-top: 0;
    padding-top: 20px;
}

h4 {
    color: #00FF85;
    font-size: 25px;
    margin-top: 10px;
    padding-bottom: 30px;
}

h3 {
    font-family: "Bebas Neue";
    color: #00FF85;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 30px;
}

.sideNav {
    border-top: solid 3px grey;
    border-right: solid 5px #00FF85;
    border-bottom: solid 5px #00FF85;
    border-bottom-right-radius: 30px;
    background-color: #38003C;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 300px;
    height: 100%;
}

.navButton {
    display: block;
    padding: 10px 20px;
    color: white;
    background-color: #38003C;
    border: none;
    text-align: center;
    width: 100%;
    font-size: 25px;
    cursor: pointer;
    font-family: "Bebas Neue";
}

.navButton:hover {
    background-color: #00FF85;
    color: black;
}
.content {
    display: flex;
    height: 100%;
    margin-top: 0;
}

.mainContent{
    width: 100%;
    height: 100%;
}

.table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.headerTable {
    background-color: #38003C;
    color: white;
    font-size: 40px;
    text-align: justify;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 30px;
}


#tableTitle{
    margin-left: 100px;
    padding-top: 10px;
    font-family: "Bebas Neue";
    font-size: 50px;
}

#season {
    margin-right: 50px;
    margin-top: 50px;
    font-family: "PremierSans", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 60px;
}

#seasonNumber {
    margin-top: 40px;
    margin-right: 100px;
    font-size: 80px;
    font-family: "PremierSans", Arial, Helvetica Neue, Helvetica, sans-serif;
}

.seasonInfo{
    display: flex; 
}

#graph {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}



.bar {
    fill: steelblue;
    
}

.bar:hover {
    fill: red;
}
.axis text {
    font: 20px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
}